body {
  margin: 0;
  font-family: 'Intern', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

//********************************
.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1200px;
  margin: 10px auto;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);



  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 9;
    overflow: hidden;
  }

  .drawer {
    position: absolute;
    right: 0;
    padding: 30px;
    width: 340px;
    height: 90vh;
    background-color: #fff;
    box-shadow: 10px 4px 24px rgba(0, 0, 0, 0.315);

    display: flex;
    flex-direction: column;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
    }

    .items {
      flex: 1;
      overflow: auto;
      margin-bottom: 20px;

      .cartItem {
        display: flex;
        align-items: center;
        border: 1px solid #f3f3f3;
        border-radius: 20px;
        overflow: hidden;
        padding: 0 10px;
        margin-top: 20px;

        .sneak {
          margin-right: 20px;
          margin-bottom: 10px;
        }

        .mr-20 {
          margin-right: 20px;
          padding: 10px;
        }

        p {
          font-size: 14px;
          margin: 5px 0;
          padding-right: 5px;
        }

        .clear-btn {
          opacity: 0.5;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            opacity: 1;
          }
        }
      }

    }

    .openCart {
      // padding: 50px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;

      h2 {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 600;
      }

      p {
        text-align: center;
        font-size: 16px;
        opacity: 0.5;
        width: 285px;
        font-weight: 400;
      }
    }

    .green-btn {
      position: relative;

      &:hover {
        .arrowRight {
          transform: translateX(5px);
        }

        .arrowLeft {
          transform: translateX(-5px);
        }
      }

      .arrowLeft {
        position: absolute;
        left: 80px;
        top: 20px;
        transition: transform 0.15s ease-in-out
      }

      .arrowRight {
        position: absolute;
        right: 40px;
        top: 22px;
        transition: transform 0.15s ease-in-out
      }
    }

    .green-btn {
      width: 100%;
      height: 55px;
      border-radius: 18px;
      background: #9dd558;
      border: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: lighten(#9dd558, 5%);
      }

      &:active {
        background: darken(#9dd558, 5%);
      }
    }

    .cart-total-block {
      ul {
        padding: 0 5px;
        margin-bottom: 25px;

        li {
          list-style-type: none;
          display: flex;
          align-items: flex-end;

          div {
            flex: 1;
            border: 1px dashed #dfdfdf;
            position: relative;
            top: -4px;
            margin: 0 8px;
          }
        }
      }

    }
  }

  //********************************
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px;
    border-bottom: 1px solid #EAEAEA;

    //********************************
    .header-left {
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }

      //********************************
      .header-info {

        h3,
        p {
          margin: 0;
        }

        p {
          opacity: .5;
        }

      }
    }

    //********************************
    .header-right {
      display: flex;

      li {
        list-style-type: none;
        margin-right: 20px;
        cursor: pointer;

        img {
          margin-right: 20px;
        }
      }
    }
  }

  //********************************
  hr {
    border-color: #f3f3f3d7;
  }

  //******************************** start content
  .content {
    padding: 0 40px 40px;

    .panel-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-block {
        border: 1px solid #F2F2F2;
        padding: 0 15px;
        border-radius: 10px;
        position: relative;

        .clear {
          position: absolute;
          right: 0;
          top: 10px;
          height: 24px;
          width: 24px;
          cursor: pointer;
        }

        input {
          border: 0;
          padding: 13px;
          font-size: 16px;
          outline: none;
        }
      }

    }

    //******************************** start sneakers
    .sneakers {
      display: flex;
      flex-wrap: wrap;
    }

    //********************************  end sneakers
  }

  //******************************** end content

}